.sprite {
    background: url('/public/img/sprite.png') no-repeat;
}

.logo {
    width: 40px;
    height: 40px;
    display: inline-block;
}

.bbb-container-top {
    font-size: 26px;
    text-align: center;
    line-height: 45px;
}

.participant-1 {
    background: url('/public/img/sprite.png') no-repeat 30px -201px;
    width: 100%;
    height: 238px;
}

.participant-1-results {
    background: url('/public/img/sprite.png') no-repeat 35px -201px;
    width: 100%;
    height: 238px;
}

.participant-2 {
    background: url('/public/img/sprite.png') no-repeat -305px -202px;
    width: 100%;
    height: 238px;
}

.participant-2-results {
    background: url('/public/img/sprite.png') no-repeat -310px -202px;
    width: 100%;
    height: 238px;
}

.participant-name {
    color: #5D5D5D;
    font-size: 18px;
    font-weight: bold;
}

.photo {
    border-style: solid;
    border-width: 1px;
    border-radius: 3px;
    border-color: #dee2e6;
}

.selected {
    border-color: orange;
    border-width: 2px;
}

.photo:hover {
    border-color: orange;
    border-width: 2px;
}

.dotted-line {
    border-top: 1px dotted #dee2e6;
}

.footer {
    height: 70px;
    background-color: #f5f5f5;
}

.footer button {
    margin: 15px;
    position: relative;
}

#footer {
    width: 100%;
    height: 45px;
    background-color: #f5f5f5
}

#footer h4 {
    padding-top: 10px;
}

.card {
    border: none;
}

.album {
    background-color: white !important;
    padding-left: 3px;
    padding-right: 3px;
}

body {
    min-height: 75rem;
    padding-top: 4.5rem;
}