.sprite {
    background: url('/public/img/sprite.png') no-repeat;
}

.logo {
    width: 40px;
    height: 40px;
    display: inline-block;
}

.main {
    width: 650px;
    border-style: solid;
    border-width: 5px;
    border-radius: 5px;
    border-color: #DFDFDF;
    position: relative;
    margin-right: auto;
    margin-left: auto;
    top: 50px;
}

.container-results {
    width: 750px;
    border-style: solid;
    border-width: 5px;
    border-radius: 5px;
    border-color: #DFDFDF;
    position: relative;
    margin-right: auto;
    margin-left: auto;
    top: 50px;
}

.bbb-container-top {
    font-size: 26px;
    text-align: center;
    line-height: 45px;
    padding-top: 20px;
}

.participant {
    height: 340px;
    display: block;
}

.participant-1 {
    background: url('/public/img/sprite.png') no-repeat -7px -201px;
    width: 286px;
    height: 238px;
}

.participant-2 {
    background: url('/public/img/sprite.png') no-repeat -340px -202px;
    width: 286px;
    height: 238px;
}

.participant-name {
    color: #5D5D5D;
    font-family: ProximaNova-Bold;
    font-size: 18px;
    font-weight: bold;
}

.photo {
    border-style: solid;
    border-width: 1px;
    border-radius: 3px;
    border-color: #dee2e6;
}

.photo-results {
    width: 226px;
}

.selected {
    border-color: orange;
    border-width: 2px;
}

.photo:hover {
    border-color: orange;
    border-width: 2px;
}

.dotted-line {
    border-top: 1px dotted #dee2e6;
}

.footer {
    width: 100%;
    height: 70px;
    background-color: #f5f5f5;
}

.footer button {
    margin: 15px;
    background-color: #3275db;
    position: relative;
}

.info {
    line-height: 1.5em;
    font-size: 14px;
    color: #929292;
    margin: 10px 0 0 0;
}

.info strong {
    color: #000000d4;
}

#footer {
    width: 100%;
    height: 45px;
    background-color: #f5f5f5
}

#footer h4 {
    padding-top: 10px;
}